---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import prideparty from "../assets/events/atmosphere-pride-print_11x17.jpg";
---

<Layout>
  <div id="events-page">
    <h1>Upcoming Events</h1>
    <p>Check out our upcoming shifts!</p>

    <section class="event-list">
      <Image
        id="prideparty"
        src={prideparty}
        fetchpriority="high"
        loading="eager"
        alt="Factory Pride Party event poster"
      />
    </section>
  </div>
</Layout>
<style>
  #events-page {
    font-family: "Compacta Blk BT", Inter, Roboto, Arial, sans-serif;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    background-color: #121212;
    min-height: 100vh;
  }

  #prideparty {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .event-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .event {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 8px;
    text-align: left;
  }

  .event h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .event p {
    margin: 5px 0;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 28px;
    }

    .event h2 {
      font-size: 20px;
    }
  }
</style>
