---
import background from "../assets/background-texture.jpg";
import "@fontsource/libre-barcode-39-text";
import dancefloor from "../assets/dancefloor.jpg";
import logoblackwords from "../assets/logo-black-words.svg";
import cone from "../assets/cone-black.svg";
import { Image } from "astro:assets";
---

<div id="container">
  <main>
    <section id="hero">
      <Image
        id="dancefloor"
        src={dancefloor}
        alt="Dance Floor"
        fetchpriority="high"
      />
      <Image
        id="logo"
        src={logoblackwords}
        alt="Factory Party Production Logo"
      />
      <div class="links">
        <a
          class="homepage-link"
          href="https://instagram.com/factory.chicago"
          target="_blank"
          rel="noopener noreferrer"
        >
          Follow us on Instagram
        </a>
        <img id="cone" src={cone.src} alt="traffic cone" fetchpriority="high" />
        <a
          class="homepage-link"
          href="https://www.canva.com/design/DAGgUdzLNJY/aLtI7YlY7NL21OMT7lhpqg/view?utm_content=DAGgUdzLNJY&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hf1022dd184#1"
          target="_blank"
          rel="noopener noreferrer"
        >
          View our Media Kit
        </a>
      </div>
    </section>
  </main>
</div>

<style>
  /* General Styles */
  #container {
    font-family: Inter, Roboto, Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #070707;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
  }

  #dancefloor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    filter: blur(3px);
  }

  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }

  #logo {
    width: 80%;
    max-width: 300px;
    margin: 20px auto;
    animation: pulse 2s infinite;
    padding-top: 160px;
    height: 100%;
  }

  #cone {
    width: 40px;
    height: auto;
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    transform: translateX(-28px);
    font-size: 18px;
  }

  .homepage-link {
    background-color: #f3ff99;
    margin: 0 10px;
    color: #070707;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s;
    font-family: "Compacta Blk BT", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    padding: 5px;
  }

  .homepage-link:hover {
    background-color: #d8f500;
    color: #39273f;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  .cta {
    margin-top: 40px;
  }

  .cta-button {
    display: inline-block;
    padding: 12px 24px;
    background: linear-gradient(90deg, #ff7a18, #ff3cac);
    color: #070707;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
  }

  .cta-button:hover {
    background: linear-gradient(90deg, #ff3cac, #ff7a18);
  }

  @keyframes pulse {
    0%,
    100% {
      transform: scale(0.95);
    }
    50% {
      transform: scale(1);
    }
  }

  @media screen and (max-width: 768px) {
    #logo {
      width: 60%;
    }

    .links {
      flex-direction: column;
      align-items: center;
      transform: translateX(0);
    }
    .homepage-link {
      font-size: 14px;
      padding: 8px;
    }
    #cone {
      width: 30px;
      margin: 10px 0;
    }

    .cta-button {
      font-size: 18px;
      padding: 10px 20px;
    }
  }
</style>
