---
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👷</text></svg>"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>
      Factory Chicago - High-Energy Dance Events, inclusive and welcoming
      parties!
    </title>
    <meta
      name="description"
      content="Factory Chicago produces immersive, high-energy dance events with diverse music programming and inclusive atmospheres."
    />
    <meta
      name="keywords"
      content="Factory Chicago, dance events, house music, electronic music, inclusive events"
    />
    <meta name="author" content="Factory Chicago" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:title"
      content="Factory Chicago - High-Energy Dance Events, inclusive and welcoming
      parties!"
    />
    <meta
      property="og:description"
      content="Join Factory Chicago for immersive dance events with top DJs and inclusive atmospheres."
    />
    <meta property="og:image" content="/path/to/preview-image.jpg" />
    <meta property="og:url" content="https://factorychi.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Factory Chicago - High-Energy Dance Events"
    />
    <meta
      name="twitter:description"
      content="Join Factory Chicago for immersive dance events with top DJs and inclusive atmospheres."
    />
    <meta name="twitter:image" content="/path/to/preview-image.jpg" />
    <style>
      @font-face {
        font-family: "Compacta Blk BT";
        src: url("/fonts/compactablkbt_black.ttf") format("trueType");
        font-weight: normal;
        font-style: normal;
      }

      html,
      body {
        background-color: #39273f;
        font-family: "Compacta Blk BT", "Encode Sans", Inter, Roboto, Arial,
          sans-serif;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        width: 100%;
        height: 100%;
      }

      p {
        font-family: "Encode Sans", Inter, Roboto, Arial, sans-serif;
        font-size: 18px;
        line-height: 1.6;
        color: #070707;
      }
    </style>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
